<%- include("partials/header") %>

<div class="page-container">
    <h1 class="page-heading">Compose a new post</h1>
    <form action="/compose" method="POST">
        <label for="inputTitle">Title</label><br>
        <input type="text" name="title" id="inputTitle" autocomplete="off">
        <br><br>
        <label for="inputText">Text</label><br>
        <textarea name="text" id="inputText" rows="10"></textarea>
        <br><br>
        <button type="submit" class="btn btn-dark">Publish</button>
    </form>
</div>

<%- include("partials/footer") %>