<%- include("partials/header") %>

<div class="page-container">
    <% content.forEach(item => { %>
        <h2><%=item.title%></h2>
        <p><%=item.text%></p>
    <% }); %>
</div>

<%- include("partials/footer") %>